@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #2B2C3A;
    font-family: "Jost";
}

#leftSec {
    position: fixed;
    width: 20%;
    height: 100%;
    background: rgba(156, 165, 236, 0.039);
}

#leftSecHeader {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-right: 40%;
    border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
}

#above {
    width:100%;
    padding-left: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ico {
    width: 2%;
}

#beeline {
    font-size: 13px;
    padding-right: 42%;
}

#beeinterns {
    margin-top: 0px;
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

#games {
    padding-top: 10%;
    color: white;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
    font-size: 20px;
}

.gamesItems {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

.gamesItemsSubMenu {
    display: none;
}

.open {
    display: block;
    margin: 15px 0 15px 30px;
}

.gamesItemsLi {
    list-style-type: none;
}

.gamesItemsSubMenuLi {
    list-style-type: none;
    color: white;
    font-weight: 300;
    height: 30px;
    transition: all 0.3s ease-out;
}
.gamesItemsIcons {
    margin-right: 5%;
    transition: color 0.3s ease-out;
}

.gamesItemsSubMenuLi:hover {
    background-color: #FFFFFF03;
}

.gamesItemsSubMenuLi:hover .gamesItemsIcons {
    color: #6B69F9;
}

#leftSecFooter {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 60%;
    padding-right: 10%;
    padding-left: 10%;
}

#subscribe {
    opacity: 0.5;
}

#rightSec {
    width: 100%;
    padding-left: 20%;
}

#rightSecHeader {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
    background: #2B2C3A;
}

.rightHeaderRef {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

#rightRefSec {
    width: 19%;
    padding-left: 3%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-right: rgba(255, 255, 255, 0.2) solid 1px;
    padding-right: 3%;
    margin-right: 20%;
}

#rightSecInfo {
    width: 20%;
    color: white;
    padding-left: 3%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.info {
    background: rgba(156, 165, 236, 0.1);
    padding: 1%;
    border-radius: 5px;
}

#profileIco {
    width: 3%;
    margin-left: 1%;
}

#nameAndStatus {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

#name {
    color: white;
}

#statusAndCircle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#status {
    color: #24CB8D;
    font-weight: bold;
}

#circle {
    background-color: #24CB8D;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 10%;
}

#pro {
    background-color: #6B69F9;
    color: white;
    border-radius: 4px;
    margin-left: 3%;
    padding-right: 1%;
    padding-left: 1%;
}

.weeklyQuests {
    margin-left: 3.7%;
    margin-right: 7%;
    margin-left: 3%;
}

.wqUpperPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.lvlName {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-right: 70%;
    margin-left: 0.7%;
}

.lvl {
    color: rgba(255, 255, 255, 0.5);;
    font-size: 15px;
}

.name {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.wqNav {
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.9%;
}

.all {
    background-color: #6B69F9;
    color: white;
    padding-right: 8%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 4px;
}

.arrow {
    border: rgba(255, 255, 255, 0.2) solid 1px;
    color: white;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    border-radius: 4px;
}

.wqLowerPart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.course {
    width: 23.5%;
    height: auto;
    background-color: rgba(156, 165, 236, 0.1);
    border-radius: 6px;
    padding-bottom: 2%;
}

.coursesUpperPart {
    display: flex;
    flex-direction: column;
    min-height: 85%;
    border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
}

.courseImg {
    width: 100%;
    height: 50%;
    border-radius: 6px 6px 0px 0px;
}

.courseName {
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}


.courseDesc {
    color: white;
    opacity: 0.5;
    margin-left: 5%;
    padding-bottom: 13%;
}

.coursesLowerPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.date {
    color: white;
    margin-left: 5%;
    margin-bottom: 5%;
}

.select {
    margin-right: 5%;
    background-color: #6B69F9;
    color: white;
    border-radius: 4px;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

#wqSec {
    padding-top: 10%;
}

.sep {
    width: 100%;
    margin: 5%;
}

#agree {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#agree + label {
    position: relative;
    cursor: pointer;
}

#agree + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -50px;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: rgba(156, 165, 236, 0.039);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.4);
    transition: .2s;
}

#agree + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -48px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #6B69F9;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    transition: .2s;
}

#agree:checked + label:before {
  background: #006cfa;
}
#agree:checked + label:after {
  left: -22px;

